/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
section.JobPost {
    height: 100%;
    padding: 50px 0px;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
section.JobPost form h2 {
    text-align: center;
    margin-bottom: 20px;
}
section.JobPost form{
    height: 100%;
    padding: 30px 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.2);
}
section.JobPost form .form-group {
    margin: 20px 0px;
}
section.JobPost form label{
    display: block;
    font-weight: 500;
    color: #3b3b3b;
}
section.JobPost form input, select{
    width: 100%;
    height: 35px;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid grey;
    /* color: #fff; */
    font-size: 18px;
}
section.JobPost form select {
    background-color: #fff8d1;
    border-radius: 10px;
}
section.JobPost form input[type='file'] {
    border: 0;
    width: auto;
}
section.JobPost form button {
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 20px;
    background-color: #29544e;
    transition: 400ms;
    color: #ffffff;
    font-size: 18px;
}

.chg{
    background-color:#29544e;
}
.chg th{
    color: #ffffff;
}
a {
    
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

/* Style for the CANDIDATES button */
#cand {
    background-color: #3498db; /* Blue color */
    color: #ffffff; /* White text */
}

/* Style for the DELETE button */
#del {
    background-color: #e74c3c; /* Red color */
    color: #ffffff; /* White text */
}

table{
    border-top:1px solid ;
}

/* JobPost-Section ends */



@media(max-width: 576px) {
    section.JobPost form label{
        font-size: 15px;
    }
    section.JobPost form input[type='file'] {
        font-size: 15px;
    }
    section.JobPost form select {
        font-size: 15px;
    }
}