{% extends "includes/admin_base.html" %}
{% load static %}
{% block title %}contact us{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/adminLogin.css' %}">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Scroll-Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock head %}

{% block content %}
    <style>
        body{
            text-align:center;
        }
    </style>
    <img style="height: 80vh;" src="{% static 'images/CareerBouwen[1].jpg' %}" alt="">
{% endblock content %}