{% extends "includes/base.html" %}
{% load static %}
{% block title %}contact us{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/editProfile.css' %}">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Swiper-js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Scroll-Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock head %}
{% block content %}
    <section class="editProfileSection">
        <div class="container">
            <form action="{% url 'editprofile' %}" method='POST' enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-6 mx-auto" data-aos="fade-right" data-aos-delay="300" data-aos-duration='1000'>
                        <div class="wrapper">
                            <h2>Enhance Your Jobseeker Profile</h2>
                            <div class="form-group">
                                <label for="">Full Name</label>
                                <input type="text" name="name" placeholder="">
                            </div>
                            <div class="form-group image">
                                <label for="">Photo</label>
                                <input type="file" name='photo'>
                            </div>
                            <div class="form-group">
                                <label for="">Contact Number</label>
                                <input type="number" name="phone1" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">WhatsApp Number</label>
                                <input type="number" name="phone2" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Email ID</label>
                                <input type="email" name="email" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Current Address</label>
                                <textarea name="current_address" id="" ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mx-auto" data-aos="fade-left" data-aos-delay="0" data-aos-duration='1000'>
                        <div class="wrapper right-section">
                            <div class="form-group">
                                <label for="">Permanent Address</label>
                                <textarea name="permanant_address" id="" ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Education</label>
                                <select name="education" id="">
                                    <option value="">Select</option>
                                    <option value="SSLC">SSLC</option>
                                    <option value="Plus Two">Plus Two</option>
                                    <option value="Bcom">Bcom</option>
                                    <option value="MBA">MBA</option>
                                    <option value="Mcom">Mcom</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Skills</label>
                                <input type="text" name="skills" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Experience</label>
                                <input type="text" name="experience" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Certifications</label>
                                <input type="text" name="certifications" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Resume</label>
                                <input type="file" name="resume" placeholder="">
                            </div>
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}