{% extends "includes/base.html" %}
{% load static %}
{% block title %}python{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/python.css' %}">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Scroll-Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Swiper-js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
{% endblock head %}
{% block content %}
    <!-- Registration-Form -->
    <div class="formWrapper container-fluid" id="popupForm">
        <div class="formContents row">
            <div class="col-12 col-md-6">
                <form action="" name="popupRegForm" onsubmit="formValidate(event)">
                    <span class="close" id="closePopupBtn">&times;</span>
                    <div class="formInputs">
                        <div class="inputBox">
                            <label for="">Name</label>
                            <input type="text" name="name" placeholder="Enter your name" id="">
                            <small id="nameError"></small>
                        </div>
                        <div class="inputBox">
                            <label for="">Number</label>
                            <input type="number" name="number" placeholder="+91 808 657 5215" id="">
                            <small id="numberError"></small>
                        </div>
                        <div class="inputBox">
                            <label for="course">Select Course:</label>
                            <select id="course" name="course">
                                <option value="">Select</option>
                                <option value="python-fullstack">Python Full Stack</option>
                                <option value="mern-stack">MERN Stack</option>
                                <option value="digital-marketing">Digital Marketing</option>
                                <option value="data-science">Data Science</option>
                                <option value="data-analytics">Data Analytics</option>
                                <option value="business-analytics">Business Analytics</option>
                            </select>
                            <div class="inputBox">
                                <label for="" id="message-label">Your Message</label>
                                <textarea name="message" id="" cols="30" rows="5" placeholder="Enter your message"></textarea>
                            </div>
                        </div>
                        <button type="submit"><span>Enroll</span>&nbsp;&nbsp;<i class="bi bi-chevron-right"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <img src="{% static '/images/background-10.jpg' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <!-- Registration-Form ends here -->


    <!-- Hero Section -->
        <section class="hero-section">
            <hr>
            <h5><a href="index.html" style="text-decoration: none; color: #fff;">Home</a> > <a href="courses.html" style="text-decoration: none; color: #fff;">Courses</a> > <a href="" style="text-decoration: none; color: #fff;">Python Fullstack</a></h5>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8">
                        <h1>Mastering <br>Full-Stack Development with Python <br><span>Your Path to Web Mastery</span></h1>
                        <p>Are you a B.Com, B.Sc. Mathematics, or B.Sc. Physics student looking to dive into the world of programming? Our Python for Beginners course is the perfect starting point</p>
                        <button>Download Brochure</button>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <img src="{% static 'images/python-1.png' %}" alt="" class="img-fluid mt-4">
                    </div>
                </div>
            </div>
        </section>
    </header>

<!-- About-Python Section -->
    <section class="about-python">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 order-5 order-lg-1" data-aos="fade-up" data-aos-delay="200" data-aos-duration='1000'>
                    <p class="paragraph">In this comprehensive full-stack development course, you'll master the core programming languages vital for web development: Python and JavaScript. You'll dive into client-side web development using HTML, CSS, and JavaScript, including leading front-end frameworks. On the back end, you'll work with Python-based frameworks like Django or Flask, delve into database management, learn about state management, deployment, version control, API development, and security. The course culminates in project-based learning, providing practical experience and real-world application of your skills.</p>
                    
                    <h2>Discover Excellence in Infrastructure at Career Bouwen</h2>
                    <p class="paragraph">At Career Bouwen, we take immense pride in providing top-notch infrastructure, cutting-edge technology, and expert trainers to empower your learning journey. Our commitment to excellence extends to every aspect of our courses, including the Python Full Stack program.</p>

                    <p class="paragraph">Our Python Full Stack course is meticulously designed to equip you with the knowledge and skills essential for excelling in the world of web development. We offer the best infrastructure and resources, ensuring access to state-of-the-art equipment and technology to support your educational experience.</p>

                    <h2>Comprehensive Course Module</h2>
                    <p class="paragraph">Our comprehensive course module is meticulously crafted to provide an all-encompassing learning experience, guaranteeing the holistic skill development and practical understanding of our trainees in the realm of MERN Full Stack. At Career Bouwen, we offer Certification Programs designed with precision to equip our trainees with the knowledge and expertise required to excel in web development.</p>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2 bottom" data-aos="fade-up" data-aos-delay="200" data-aos-duration='1000'>
                    <h2>Duration: 6 Months</h2>
                    <button onclick="registerNow()" type="button" id="">Register Now</button>
                    <br> <br>
                    <div class="box">
                        <h3>Key Highlights</h3>
                        <br><br>
                        <p><i class="bi bi-arrow-right"></i>&nbsp;&nbsp;Hands-On Learning</p>
                        <p><i class="bi bi-arrow-right"></i>&nbsp;&nbsp;Application-Focused</p>
                        <p><i class="bi bi-arrow-right"></i>&nbsp;&nbsp;Affordable Education</p>
                        <p><i class="bi bi-arrow-right"></i>&nbsp;&nbsp;Expert Instructors</p>
                        <p><i class="bi bi-arrow-right"></i>&nbsp;&nbsp;International Certification</p>
                        <p><i class="bi bi-arrow-right"></i>&nbsp;&nbsp;Career Support</p>
                        <p><i class="bi bi-arrow-right"></i>&nbsp;&nbsp;Interview Readiness:</p>
                        <p><i class="bi bi-arrow-right"></i>&nbsp;&nbsp;Flexible Learning</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- FAQ-Section -->
    
    <section class="FAQ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>FAQ</h1>
                    <div class="accordion" id="accordionExample">

                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="200" data-aos-duration='1000'>
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <span>What sets Career Bouwen apart from other institutes offering similar courses?</span>
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Career Bouwen is committed to delivering high-quality education through expert instructors, top-notch infrastructure, and a practical learning approach. We focus on ensuring our students not only gain knowledge but also develop practical skills that are in high demand across industries.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="200" data-aos-duration='1000'>
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <span>Are your courses available online, or do I need to attend in person?</span>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>We offer both in-person and online options for our business analytics courses. You can choose the format that best suits your preferences and schedule. Our online courses provide flexibility, allowing you to learn from the comfort of your own location.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="200" data-aos-duration='1000'>
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <span>What kind of certification do you provide upon course completion?</span>
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Upon successfully completing our business analytics courses, you will receive a recognized certification from Career Bouwen. This certification validates your expertise in the field and can be a valuable addition to your professional credentials.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="200" data-aos-duration='1000'>
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    <span>What software and tools are provided to students for practical learning?</span>
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>We provide access to a range of industry-standard software, datasets, and computing facilities to support your practical learning. Our students have the resources needed to apply their knowledge and work on real-world projects during the courses.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="200" data-aos-duration='1000'>
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    <span>What are the payment and financial aid options available for course fees?</span>
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>We offer flexible payment plans and financial aid options for eligible students. Financial constraints should not hinder your pursuit of education, and we are committed to providing assistance where needed.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="200" data-aos-duration='1000'>
                            <h2 class="accordion-header" id="flush-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                    <span>How can I get in touch with the admissions team for more information about courses and enrollment?</span>
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>You can easily reach our admissions team by phTwo, email, or by visiting our campus. We're here to address your questions, provide detailed course information, and guide you through the enrollment process.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- Testimonials Section -->

    <section id="testimonial" class="testimonials">
        <div class="mainHeading">
            <h1>Testimonials</h1>
            <p>What students talk about us</p>
        </div>
        <div class="decorText">
            <h1>TESTIMONIALS</h1>
        </div>
        <div class="container">
            <div class="row testimonialsWrapper">
                <div class="col-12 col-lg-6">
                    <!-- Swiper -->
                    <div class="swiper mySwiper" style="overflow: visible;">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiperContainer">  
                                <div class="title">
                                    <div class="profileImageWrapper">
                                        <img src="{% static 'images/testimonials-men-1.jpg' %}" alt="" class="img-fluid">
                                    </div>
                                    <div class="ms-3 text-start text-wrap">
                                        <h2>Andres Iniesta</h2>
                                        <h6>Front-end Devoloper</h6>
                                    </div>
                                </div>
                                <div class="description text-start">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo sapiente deleniti reiciendis perferendis ullam quisquam officia magnam corporis eaque voluptatibus! lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. In, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eum?</p>
                                </div>
                            </div>
                            <div class="swiper-slide swiperContainer">
                                <div class="title">
                                    <div class="profileImageWrapper">
                                        <img src="{% static 'images/men-3.jpg' %}" alt="" class="img-fluid">
                                    </div>
                                    <div class="ms-3 text-start">
                                        <h2>Dani Alves</h2>
                                        <h6>Backend Devoloper</h6>
                                    </div>
                                </div>
                                <div class="description text-start">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo sapiente deleniti reiciendis perferendis ullam quisquam officia magnam corporis eaque voluptatibus! lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. In, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eum?</p>
                                </div>
                            </div>
                            <div class="swiper-slide swiperContainer">
                                <div class="title">
                                    <div class="profileImageWrapper">
                                        <img src="{% static 'images/men-2.jpg' %}" alt="" class="img-fluid">
                                    </div>
                                    <div class="ms-3 text-start">
                                        <h2>Pep Guardiola</h2>
                                        <h6>Data Scientist</h6>
                                    </div>
                                </div>
                                <div class="description text-start">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo sapiente deleniti reiciendis perferendis ullam quisquam officia magnam corporis eaque voluptatibus! lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. In, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eum?</p>
                                </div>
                            </div>
                            <div class="swiper-slide swiperContainer">
                                <div class="title">
                                    <div class="profileImageWrapper">
                                        <img src="{% static 'images/men-3.jpg' %}" alt="" class="img-fluid">
                                    </div>
                                    <div class="ms-3 text-start">
                                        <h2>Lionel Messi</h2>
                                        <h6>Fullstack Devoloper</h6>
                                    </div>
                                </div>
                                <div class="description text-start">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo sapiente deleniti reiciendis perferendis ullam quisquam officia magnam corporis eaque voluptatibus! lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. In, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eum?</p>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="prevBtn button"><i class="bi bi-arrow-left"></i></button>
                            <button class="nextBtn button"><i class="bi bi-arrow-right"></i></button>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}
    <!-- Js -->
    <script src="{% static 'javascript/python.js' %}"></script>
{% endblock script %}